.DDContainer {
    border: 1px solid #ebebeb;
    padding: 10px;
    /*margin: 5px;*/
    padding-top: 30px;
   /* padding-top: 25px;*/
  /* // margin: 5px;*/
    position: relative;
/*    background-color: white;*/
}

.row {
    margin:  0;
}



.dropdown-menu {
    padding: 5px;
}

.DDPanel {
    /*background-color: #f3f3f3;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*display: none;*/
}

.navbar {
    min-height: 0;
}

.ddname {
    color: #aeaeae;
    margin-right: 20px;
    padding: 2px;
}

.ddMenu {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;

    cursor: pointer;
}

.ddMenu:hover {

    background-color:#ebebeb;
}

/*.ddCompress {*/
    /*height: 25px;*/
    /*padding: 0;*/
    /*overflow: hidden;;*/
/*}*/

.ddHide {
    display: none;
}