.DDContainer {
    border: 1px solid #ddd;
    padding: 0px;
    padding-top: 25px;
    margin: 10px;
    position: relative;
}

.DDContainerContent  {
    padding: 25px;
    border: 1px dashed #ddd;;
}

.DDContainerPanel {
    position: absolute;
    top: 0;
    right: 0;
}