.DDContainer {
    border: 1px solid #ddd;
    padding: 0px;
   /* padding-top: 25px;*/
    margin: 0px;
    position: relative;
}

.row {
    margin: 0px;
    padding: 0px;
}

.DDContent  {
    padding: 15px;
    border: 1px dashed #ddd;;
}

.DDMenu {

    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
}

.DDMenu:hover {

    background: rgb(243, 243, 243);
}

.DDElementTitle  {
    color : #bcbcbc;;
}
.DDPanel {

    margin-bottom: 20px;
}
/*.DDContainerName {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/