.HtmePanel {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    /*line-height: 1.42857143;*/
    position: absolute;
    height: 25px;
    top: 0;
    left: 0;

    width: 100%;
    background-color: #f3f3f3;

    border-bottom: 1px solid #dcdcdc;

    /*margin: -10px;*/

    box-shadow:
            inset -1px -1px #ffffff,
            inset 1px 1px #ffffff
    ;

}

.HtmeHide {
    display: none;
}

.HtmeModal {
    width: auto;
    height: auto;
    padding: 0.5em;

    border:double black;
    background-color: #f3f3f3;
    /*margin: -10px;*/

    /*box-shadow:*/
            /*inset -1px -1px #ffffff,*/
            /*inset 1px 1px #ffffff*/
;
}

.HtmeActive {
    box-shadow:
     -1px -1px 1px green,
     1px 1px 1px green
}

.HtmeStructure {
    min-height: 25px;
    padding: 2px;
    margin-top: 2px;
    padding-top: 26px;
    position: relative;;
    /*padding-top: 23px;*/
    /*padding: 0 5px 5px 5px;*/
    border: 1px solid #dcdcdc;
    /*box-shadow:*/
            /*inset -1px 0 #dcdcdc,*/
            /*inset 1px 0 #dcdcdc,*/
            /*inset 0 -1px #dcdcdc*/
    ;
    background-color: white;
}

.HtmePanelName {
    color: #000000;
    position: absolute;

    padding: 2px;
    margin: 2px;
    width: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.HtmeMenuItems {
    position: absolute;
    top: 25px;
    left:-1px;
    background-color: #f8f8f8;
    min-width: 100px;
    width: auto;
    z-index: 10;
    box-shadow:
            inset -1px 0 #dcdcdc,
            inset 1px 0 #dcdcdc,
            inset 0 -1px #dcdcdc
;
}

.HtmeMenu {
    padding: 4px;
    user-select: none;
    position: relative;
    cursor: pointer;
}
.HtmeMenu:hover {

    background-color: #eaeaea;
}
.HtmeItem {

    cursor: pointer;
    padding: 5px;
}
.HtmeItem:hover {

    background-color: #eaeaea;
}

.HtmeMenuRight {

    float: right;
}
.HtmeMenuLeft {

    float: left;
}