
.ddColumnPanelRender::after {
    content: "render";
    display: block;
}


.ddColumnRender {
    float: none;
    width: 100%;
}

.ddColumnPanel3::after {
    content: "col 3";
    display: block;
}


.ddColumnPanel4::after {
    content: "col 4";
    display: block;
}